# このファイルを secret.auto.tfvars にコピーして実環境の値を埋める。
# secret.auto.tfvars は .gitignore 対象(terraform/*.auto.tfvars)なので Git には含まれない。
# terraform.tfvars と同様、*.auto.tfvars も -var-file 指定なしで自動読み込みされる。

proxmox_endpoint     = "https://proxmox.local:8006/"
proxmox_api_token    = "terraform@pve!terraform-token=00000000-0000-0000-0000-000000000000"
proxmox_tls_insecure = true
